mixin video(video)
    a(href=`/videos/${video.id}`).video_mixin
        div.video_thumnail(style=`background-image:url(${video.thumbUrl}); background-size:cover; background-position:center`)
        div.video_data
            h3.video_title=video.title
            div.video_meta
                span #{video.owner.username} •
                span #{video.meta.views} 회
                
            