extends base.pug

block content   
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(type="text", name="name", placeholder="Name" required, value=loggedInUser.name)
        input(type="email", name="email", placeholder="Email" required, value=loggedInUser.email)
        input(type="text", name="username", placeholder="Username" required, value=loggedInUser.username)
        input(type="text", name="location", placeholder="Location" required, value=loggedInUser.location)
        input(type="submit", value="Save") 
        hr
        a(href="changePassword") Change password &rarr; 