extends base

block content
    div#videoContainer.watch(data-id=video._id)
        video(src="/"+ video.videoUrl)  
        div.videoController
            span#play 
                i.fas.fa-play
            div.checkTime 
                span#currenTime 00:00
                span  / 
                span#totalTime 00:00
            input(type="range" min="0" step="1" value="0")#timeline
            span#mute 
                i.fas.fa-volume-up
            input(type="range" min="0" max="1" step="0.1")#volumn
            span#fullScreenBtn 
                i.fas.fa-expand
        //- div 
        //-     p=video.description
        //-     small=video.createdAt
        //-     br
        //-     small Uploaded by 
        //-         a(href=`/users/${video.owner._id}`)=video.owner.username 
        //-     ul 
        //-         each hashtag in video.hashtags
        //-             li=hashtag
        //- if String(video.owner._id) === String(loggedInUser._id)
        //-     a(href=`${video.id}/edit`) Edit video &rarr; 
        //-     br
        //-     a(href=`${video.id}/delete`) Delete video &rarr; 
    
block scripts
    script(src="/static/js/videoPlayer.js")
